<%= turbo_frame_tag comment do %>
  <div class="border p-4 rounded my-4 flex items-start">
    <%# Comment content section %>
    <div>
      <%# Display the commenter's username %>
      <p class="font-semibold"><%= comment.user.username %></p>
      
      <%# Display the actual comment (reply) with some prose styling %>
      <div class="prose prose-indigo"><%= comment.reply %></div>

      <%# Display edit/delete options only if the current user is the author of the comment %>
      <% if author_of?(comment) %>
        <div class="flex items-end space-x-3">
          
          <%# Edit comment link %>
          <%= link_to "Edit comment", edit_submission_comment_path(comment.submission, comment), class: "text-indigo-600 underline" %>

          <%# Delete comment button (method: delete) %>
          <%= button_to "Delete comment", submission_comment_path(comment.submission, comment), method: :delete, class: "text-indigo-600 underline" %>

        </div>
      <% end %>
    </div>
  </div>
<% end %>
